@model publishing.Models.TypeProduct

@{
    ViewData["Title"] = "Добавление типа продукции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавление типа продукции</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Margin" class="control-label"></label>
                <input asp-for="Margin" class="form-control" type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true"/>
                <span asp-validation-for="Margin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" onclick="ConfirmAction('Вы подтверждаете создание типа печатной продукции? Если введенный тип существует в базе данных, то действие будет отменено')" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку типов продукции</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
