html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.check_box {
    width:15px;
    height:15px;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}


/*Для выпадающего списка выбранных сотрудников*/
.info {
    padding: 10px 25px;
}

.info__switch {
    display: none;
}

.info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.info__switch:checked ~ .info__body {
    max-height: 1000px;
}

.info__headline::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border: 6px solid #39739d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.info__switch:checked ~ .info__headline::before {
    transform: rotate(180deg) translateY(6px);
}

.info__headline {
    display: block;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    font-weight: normal;
    cursor: pointer;
    font-size: 18px;
}

.info__headline:hover {
        text-decoration: underline;
}
/*Конец*/

/*Для ul в составлении заказа*/
/*#typeProducts>li>a:focus,
#typeProducts>li>a:hover {
    background-color: red;
}
#typeProducts > li > a::after {
    background: red;
    transition: all .2s ease-in-out;
    transform: scaleX(0);
}
#typeProducts>li>a:hover:after {
    transform: scaleX(1);
}*/

/*#menu li {
 padding:0;
}
.active {
    background-color:red;
}*/
/*/*#menu li > a {
    display:block;
    padding:0;
    margin:0;
}*/
/*Конец*/

#cust_img {
    height: 375px;
    width: 450px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgb(128, 128, 128) !important;
    /*border: 2px solid #fff;*/
    /*border-radius: 4px;
    border-color: #fff;*/ /* fallback */
    /*border-image: linear-gradient(-45deg, #3498db, #e67e22) 1*/
}